input,select{
    box-sizing: border-box;
    width: 32.7%;
    height: 50px;
    padding: 0 30px;
    border : solid 1px #686868;
    font-size: 16px;
    line-height: 50px;
    background: #fff;

    margin:auto;
}


.btn-search{
    box-sizing: border-box;
    width: 34.3%;
    height: 50px;
    padding: 0 30px;
    color: #fff;
    border : solid 1px #686868;
    font-size: 16px;
    line-height: 50px;
    background: rgb(38, 38, 38);
    margin:auto;
    margin-left: 9px;
    cursor: pointer;
}

.inputSpan{
    padding-bottom: 14px;
    padding-top: 13px; 
    margin-right: 1px;
    background: rgb(38, 38, 38);
    border : solid 1px #686868;
}


.inputLabel{
    color:#fff;
    font-size: 100%;
    padding-left: 1%;
}

label{
    margin-right: 10px;
}



table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table th {
    height: 25px;
    padding-bottom: 8px;
    text-align: center;
    border-bottom: solid 1px #bec0c2;
    background: rgb(38, 38, 38);
    font-weight: 4500;
    font-family: 'NotoSansKR-Bold';
    font-size: 15px;
    color: #fff;
    border-right: 1px solid #e3e4e5;
}

table td {
    height: 20px;
    padding: 7px 10px 9px 30px;
    text-align: left;
    border-bottom: solid 1px #e3e4e5;
    background: #fff;
    font-size: 16px;
    color: rgb(38, 38, 38);
    border-right: 1px solid #e3e4e5;
    line-height: 28px;
    font-family: 'NotoSansKR-Regular';
    vertical-align: top;
}